:root, [data-bs-theme=light] {
  --bs-primary: #3c3262;
  --bs-primary-rgb: 60,50,98;
  --bs-primary-text-emphasis: #181427;
  --bs-primary-bg-subtle: #D8D6E0;
  --bs-primary-border-subtle: #B1ADC0;
  --bs-secondary: #c997c9;
  --bs-secondary-rgb: 201,151,201;
  --bs-secondary-text-emphasis: #503C50;
  --bs-secondary-bg-subtle: #F4EAF4;
  --bs-secondary-border-subtle: #E9D5E9;
  --bs-success: #773241;
  --bs-success-rgb: 119,50,65;
  --bs-success-text-emphasis: #30141A;
  --bs-success-bg-subtle: #E4D6D9;
  --bs-success-border-subtle: #C9ADB3;
  --bs-light: #e3d3eb;
  --bs-light-rgb: 227,211,235;
  --bs-light-text-emphasis: #5B545E;
  --bs-light-bg-subtle: #F9F6FB;
  --bs-light-border-subtle: #F4EDF7;
  --bs-dark: #e3d3eb;
  --bs-dark-rgb: 227,211,235;
  --bs-dark-text-emphasis: #5B545E;
  --bs-dark-bg-subtle: #F9F6FB;
  --bs-dark-border-subtle: #F4EDF7;
  --bs-body-color: #0f0b23;
  --bs-body-color-rgb: 15,11,35;
  --bs-secondary-color: rgba(15,11,35,0.75);
  --bs-secondary-color-rgb: 15,11,35,0.75;
  --bs-tertiary-color: rgba(15,11,35,0.5);
  --bs-tertiary-color-rgb: 15,11,35,0.5;
  --bs-body-bg: #eeecf9;
  --bs-body-bg-rgb: 238,236,249;
  --bs-body-font-family: Poppins, sans-serif;
  --bs-link-color: #6448f1;
  --bs-link-color-rgb: 100,72,241;
  --bs-link-hover-color: #2a0eb9;
  --bs-link-hover-color-rgb: 42,14,185;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3c3262;
  --bs-btn-border-color: #3c3262;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #332B53;
  --bs-btn-hover-border-color: #30284E;
  --bs-btn-focus-shadow-rgb: 226,224,231;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #30284E;
  --bs-btn-active-border-color: #2D264A;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3c3262;
  --bs-btn-disabled-border-color: #3c3262;
}

.btn-outline-primary {
  --bs-btn-color: #3c3262;
  --bs-btn-border-color: #3c3262;
  --bs-btn-focus-shadow-rgb: 60,50,98;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3c3262;
  --bs-btn-hover-border-color: #3c3262;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3c3262;
  --bs-btn-active-border-color: #3c3262;
  --bs-btn-disabled-color: #3c3262;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3c3262;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #c997c9;
  --bs-btn-border-color: #c997c9;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D1A7D1;
  --bs-btn-hover-border-color: #CEA1CE;
  --bs-btn-focus-shadow-rgb: 30,23,30;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #D4ACD4;
  --bs-btn-active-border-color: #CEA1CE;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #c997c9;
  --bs-btn-disabled-border-color: #c997c9;
}

.btn-outline-secondary {
  --bs-btn-color: #c997c9;
  --bs-btn-border-color: #c997c9;
  --bs-btn-focus-shadow-rgb: 201,151,201;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #c997c9;
  --bs-btn-hover-border-color: #c997c9;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #c997c9;
  --bs-btn-active-border-color: #c997c9;
  --bs-btn-disabled-color: #c997c9;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #c997c9;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #773241;
  --bs-btn-border-color: #773241;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #652B37;
  --bs-btn-hover-border-color: #5F2834;
  --bs-btn-focus-shadow-rgb: 235,224,227;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5F2834;
  --bs-btn-active-border-color: #592631;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #773241;
  --bs-btn-disabled-border-color: #773241;
}

.btn-outline-success {
  --bs-btn-color: #773241;
  --bs-btn-border-color: #773241;
  --bs-btn-focus-shadow-rgb: 119,50,65;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #773241;
  --bs-btn-hover-border-color: #773241;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #773241;
  --bs-btn-active-border-color: #773241;
  --bs-btn-disabled-color: #773241;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #773241;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #e3d3eb;
  --bs-btn-border-color: #e3d3eb;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C1B3C8;
  --bs-btn-hover-border-color: #B6A9BC;
  --bs-btn-focus-shadow-rgb: 34,32,35;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B6A9BC;
  --bs-btn-active-border-color: #AA9EB0;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #e3d3eb;
  --bs-btn-disabled-border-color: #e3d3eb;
}

.btn-outline-light {
  --bs-btn-color: #e3d3eb;
  --bs-btn-border-color: #e3d3eb;
  --bs-btn-focus-shadow-rgb: 227,211,235;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #e3d3eb;
  --bs-btn-hover-border-color: #e3d3eb;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #e3d3eb;
  --bs-btn-active-border-color: #e3d3eb;
  --bs-btn-disabled-color: #e3d3eb;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e3d3eb;
}

.btn-dark {
  --bs-btn-color: #000000;
  --bs-btn-bg: #e3d3eb;
  --bs-btn-border-color: #e3d3eb;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E7DAEE;
  --bs-btn-hover-border-color: #E6D7ED;
  --bs-btn-focus-shadow-rgb: 34,32,35;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E9DCEF;
  --bs-btn-active-border-color: #E6D7ED;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #e3d3eb;
  --bs-btn-disabled-border-color: #e3d3eb;
}

.btn-outline-dark {
  --bs-btn-color: #e3d3eb;
  --bs-btn-border-color: #e3d3eb;
  --bs-btn-focus-shadow-rgb: 227,211,235;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #e3d3eb;
  --bs-btn-hover-border-color: #e3d3eb;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #e3d3eb;
  --bs-btn-active-border-color: #e3d3eb;
  --bs-btn-disabled-color: #e3d3eb;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e3d3eb;
}

[data-bs-theme=dark] {
  --bs-primary: #a79dcd;
  --bs-primary-rgb: 167,157,205;
  --bs-primary-text-emphasis: #CAC4E1;
  --bs-primary-bg-subtle: #211F29;
  --bs-primary-border-subtle: #645E7B;
  --bs-secondary: #683668;
  --bs-secondary-rgb: 104,54,104;
  --bs-secondary-text-emphasis: #A486A4;
  --bs-secondary-bg-subtle: #150B15;
  --bs-secondary-border-subtle: #3E203E;
  --bs-success: #cd8897;
  --bs-success-rgb: 205,136,151;
  --bs-success-text-emphasis: #E1B8C1;
  --bs-success-bg-subtle: #291B1E;
  --bs-success-border-subtle: #7B525B;
  --bs-dark: #25152d;
  --bs-dark-rgb: 37,21,45;
  --bs-dark-text-emphasis: #7C7381;
  --bs-dark-bg-subtle: #070409;
  --bs-dark-border-subtle: #160D1B;
  --bs-body-color: #e0dcf4;
  --bs-body-color-rgb: 224,220,244;
  --bs-secondary-color: rgba(224,220,244,0.75);
  --bs-secondary-color-rgb: 224,220,244,0.75;
  --bs-tertiary-color: rgba(224,220,244,0.5);
  --bs-tertiary-color-rgb: 224,220,244,0.5;
  --bs-body-bg: #080613;
  --bs-body-bg-rgb: 8,6,19;
  --bs-link-color: #b59aff;
  --bs-link-color-rgb: 181,154,255;
  --bs-link-hover-color: #907bcc;
  --bs-link-hover-color-rgb: 144,123,204;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #a79dcd;
  --bs-btn-border-color: #a79dcd;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #B4ACD5;
  --bs-btn-hover-border-color: #B0A7D2;
  --bs-btn-focus-shadow-rgb: 25,24,31;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B9B1D7;
  --bs-btn-active-border-color: #B0A7D2;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #a79dcd;
  --bs-btn-disabled-border-color: #a79dcd;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #a79dcd;
  --bs-btn-border-color: #a79dcd;
  --bs-btn-focus-shadow-rgb: 167,157,205;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #a79dcd;
  --bs-btn-hover-border-color: #a79dcd;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #a79dcd;
  --bs-btn-active-border-color: #a79dcd;
  --bs-btn-disabled-color: #a79dcd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #a79dcd;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #683668;
  --bs-btn-border-color: #683668;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #582E58;
  --bs-btn-hover-border-color: #532B53;
  --bs-btn-focus-shadow-rgb: 232,225,232;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #532B53;
  --bs-btn-active-border-color: #4E294E;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #683668;
  --bs-btn-disabled-border-color: #683668;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #683668;
  --bs-btn-border-color: #683668;
  --bs-btn-focus-shadow-rgb: 104,54,104;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #683668;
  --bs-btn-hover-border-color: #683668;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #683668;
  --bs-btn-active-border-color: #683668;
  --bs-btn-disabled-color: #683668;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #683668;
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #cd8897;
  --bs-btn-border-color: #cd8897;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D59AA7;
  --bs-btn-hover-border-color: #D294A1;
  --bs-btn-focus-shadow-rgb: 31,20,23;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #D7A0AC;
  --bs-btn-active-border-color: #D294A1;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #cd8897;
  --bs-btn-disabled-border-color: #cd8897;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #cd8897;
  --bs-btn-border-color: #cd8897;
  --bs-btn-focus-shadow-rgb: 205,136,151;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #cd8897;
  --bs-btn-hover-border-color: #cd8897;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #cd8897;
  --bs-btn-active-border-color: #cd8897;
  --bs-btn-disabled-color: #cd8897;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #cd8897;
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #25152d;
  --bs-btn-border-color: #25152d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1F1226;
  --bs-btn-hover-border-color: #1E1124;
  --bs-btn-focus-shadow-rgb: 222,220,224;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1E1124;
  --bs-btn-active-border-color: #1C1022;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #25152d;
  --bs-btn-disabled-border-color: #25152d;
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: #25152d;
  --bs-btn-border-color: #25152d;
  --bs-btn-focus-shadow-rgb: 37,21,45;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #25152d;
  --bs-btn-hover-border-color: #25152d;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #25152d;
  --bs-btn-active-border-color: #25152d;
  --bs-btn-disabled-color: #25152d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #25152d;
}

